<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<link rel="shortcut icon" href="http://xn--24-9kcl0cep2grb.xn--p1ai/favicon.ico" type="image/x-icon" />
<title>Торгово-производственная компания Добрыня</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!--[if lt IE 9]> 
        <script src="/js/html5.js"></script> 
    <![endif]-->
<link rel="stylesheet" type="text/css" href="/css/style.css?1274"/>
<link rel="stylesheet" type="text/css" href="/css/navStyle.css?1274"/>
<link rel="stylesheet" type="text/css" href="/css/lightbox.css"/>
<script src="//api-maps.yandex.ru/2.0/?load=package.full&amp;lang=ru-RU"></script>