<div class='blockNav'>
    <div class='papaMain'>
        <nav class='glMenu'>
            <ul class='nav'>
                <li><a href='index.html' id='nav_1'>Главная</a></li>
                <li><a href='about.html' id='nav_2'>О компании</a>
                    <ul class='popup2'>
                        <li><a id='nav_1000' href='istoriia-kompanii.html'>История компании</a></li>
                        <li><a id='nav_1001' href='rabota-kompanii.html'>Работа компании</a></li>
                    </ul>
                </li>
                <li><a href='products.html' id='nav_3'>Продукция</a>
                    <ul class='popup3'>
                        <li><a id='nav_1002' href='pelmeni-i-khinkali.html'>Пельмени и Хинкали</a></li>
                        <li><a id='nav_1003' href='vareniki.html'>Вареники</a></li>
                        <li><a id='nav_1004' href='pozy-i-manty.html'>Позы и Манты</a></li>
                        <li><a id='nav_1005' href='blinchiki-i-testo.html'>Блинчики и Тесто</a></li>
                        <li><a id='nav_1006' href='kotlety-kolbaski-i-farsh.html'>Котлеты, Колбаски и Фарш</a></li>
                        <li><a id='nav_1007' href='morozhenoe.html'>Мороженое</a></li>
                    </ul>
                </li>
                <li><a href='news.html' id='nav_4'>Новости</a></li>
                <li><a href='partners.html' id='nav_5'>Партнерам</a></li>
                <li><a href='advertising.html' id='nav_6'>Рекламные материалы</a></li>
                <li><a href='contacts.html' id='nav_7'>Контакты</a></li>
            </ul>
        </nav>
    </div>
</div>